DB_HOST=localhost
DB_PORT=5432
DB_NAME=dashboards_nova
DB_USER=postgres
DB_PASSWORD=

SESSION_SECRET=
ADMIN_SEED_PASSWORD=1234
SEED_USER_PASSWORD=1234

API_PORT=8001
FRONTEND_ORIGIN=http://localhost:3000
PLANILHAS_DIR=../PLANILHAS
